<h1>
	you fell in love with : <%= thingVar %> luls
</h1>

<% if(thingVar.toLowerCase() === "rusty"){%>
<p>
	GOOD CHOICE! RUSTY IS THE BEST!
</p>
<% } else { %>
<p> ok you should have said rusty but its ok </p>
<% } %>



<p>
	ps its going from love ejs
</p>

<%= %>  use this to add something to html
<% %>  whenever we do logic and dont want to show in html